<footer class="footer col-xs-12">
	<div class="footerMain col-xs-12">
		<div class="footerDiv">
			<img src="/img/jerfstrom.svg" alt="JERFSTROM LOGO">
		</div>
	</div>

	<div class="footer-nedre col-xs-12">Copyright Jerfstrom AB © 2021</div>

	<!-- SCRIPT SOM SKA KÖRAS EFTER LADDNING -->
	<script src="/client-io-tweet.js"></script>
	<script src="/afterload.js"></script>

</footer>