<nav class="navbar navbar-default navbar-static-top navbar-inverse">
	<div class="logo">
		<a href="/">
			<img src="/img/jerfstrom.svg" alt="JERFSTROM LOGO">
		</a>
	</div>
	<div class="navbar-container col-xs-12">
		<div class="meny section">
			<a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
		</div>
	</div>
</nav>